import React from 'react';
// import PropTypes from 'prop-types';

const {{ properCase name }} = () => {
  return (
    <div className="{{ dashCase name }}">
      {{ properCase name }}
    </div>
  );
}

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
